<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=>, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BLOG</title>

    <link rel="stylesheet" href="/css/styles.css" />

    <div
      class="nav"
      style="
        background-color: rgb(230, 227, 227);
        margin: 0px;
        height: 100px;
        border-radius: 3px;
      "
    >
      <span
        style="
          position: sticky;
          font-family: sans-serif;
          top: 10px;
          color: rgb(58, 57, 57);
          border-radius: 10px;
          padding-top: 3%;
          padding-left: 20px;
          font-size: 30px;
          width: 100%;
          text-align: center;
          font-weight: normal;
        "
      >
        Daily Journal
      </span>

      <a
        href="/"
        class="navb"
        style="
          position: sticky;
          top: 10px;
          color: rgb(58, 57, 57);
          text-decoration: none;
          font-family: sans-serif;
          border-radius: 10px;
          margin-left: 80%;
          margin-top: 3%;
          font-size: 20px;
          width: 100%;
        "
        >Home</a
      >
      <a
        href="About"
        class="navb"
        style="
          position: sticky;
          text-decoration: none;
          top: 10px;
          color: rgb(58, 57, 57);
          font-family: sans-serif;
          border-radius: 10px;
          margin-top: 3%;

          margin-left: 10px;
          font-size: 20px;
          width: 100%;
        "
        >About</a
      >
      <a
        href="Contact"
        class="navb"
        style="
          position: sticky;
          top: 10px;
          text-decoration: none;
          color: rgb(58, 57, 57);
          font-family: sans-serif;
          border-radius: 10px;
          margin-top: 3%;
          margin-left: 10px;
          font-size: 20px;
          width: 100%;
        "
        >Contact</a
      >
    </div>
  </head>
  <body></body>
</html>
