<%- include("partials/header"); -%>

<h1 style="font-family: sans-serif">CONTACT</h1>
<h3 style="font-family: sans-serif; font-weight: normal"><%= contactblog %></h3>
<%- include("partials/footer"); -%>
